*.local
.vimperatorrc
_vimperator
_vim/bundle
_vim/undodir/*
_zsh
.python*
_atom/blob-store
_atom/blob-store/*
_atom/compile-cache
_atom/local-history
_atom/recovery
_atom/storage
_atom/projects.cson
