"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    defaultProvider: "Fuzzy"
    minimumWordLength: 2
  autosave:
    enabled: true
  "chary-tree-view":
    dirSingleClick: false
  core:
    audioBeep: false
    disabledPackages: [
      "move-cursor-improved"
      "tree-view-git-status"
      "vim-surround"
      "language-markdown"
      "show-first-line-on-tab"
      "go-to-line"
      "file-type-icons"
      "slides-preview"
      "plantuml"
      "plantuml-viewer"
    ]
    excludeVcsIgnoredPaths: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "activator"
      "*.log"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-writer"
      "markdown-hopper"
      "move-cursor-improved"
      "useful-context-menu"
    ]
    projectHome: "~/Dropbox/memo/"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Ricty"
    invisibles: {}
    preferredLineLength: 160
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "295eaec7-8ee3-a79f-a7a1-3b4b2a585220"
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "c8de80a9-7978-4db2-9ad8-cc4159eafce5"
  "markdown-hopper":
    notification:
      verboseLevel: "normal"
  "markdown-preview":
    breakOnSingleNewline: true
    openPreviewInSplitPane: false
    useGitHubStyle: true
  "markdown-writer":
    relativeImagePath: true
    tableAlignment: "center"
    tableExtraPipes: true
  minimap: {}
  "project-manager":
    alwaysOpenInSameWindow: true
    ignoreDirectories: ".git"
    sortBy: "last modified"
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
