"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    defaultProvider: "Fuzzy"
    minimumWordLength: 2
  core:
    disabledPackages: [
      "minimap"
      "vim-mode"
      "language-gfm"
      "slides-preview"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-writer"
    ]
    telemetryConsent: "no"
    themes: [
      "slack-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Ricty"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "295eaec7-8ee3-a79f-a7a1-3b4b2a585220"
  "git-diff":
    showIconsInEditorGutter: true
  "markdown-preview": {}
  "markdown-writer":
    relativeImagePath: true
  minimap: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
