"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    defaultProvider: "Fuzzy"
    minimumWordLength: 2
  core:
    disabledPackages: [
      "minimap"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-writer"
    ]
    telemetryConsent: "no"
    themes: [
      "slack-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Ricty"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "295eaec7-8ee3-a79f-a7a1-3b4b2a585220"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "0e90be4c-3c93-4181-94fa-e9f53a1afeed"
  "markdown-preview": {}
  "markdown-writer":
    relativeImagePath: true
  minimap: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".gfm.source":
  editor:
    preferredLineLength: 120
".scala.source":
  editor:
    preferredLineLength: 120
