[
  {
    title: "fringe81"
    group: "document"
    paths: [
      "/Users/komurasaki/Dropbox/f81"
      "/Users/komurasaki/Dropbox/memo"
      "/Users/komurasaki/code/gitlab/puyol"
      "/Users/komurasaki/code/gitlab/ferguson"
    ]
  }
]
