[
  {
    title: "memo"
    group: "document"
    paths: [
      "/Users/komurasaki/Dropbox/memo"
    ]
  },
  {
    title: "fringe81-docomo"
    group: "document"
    paths: [
      "/Users/komurasaki/Dropbox/memo/f81"
      "/Users/komurasaki/code/gitlab/puyol"
      "/Users/komurasaki/code/gitlab/ferguson"
    ]
  },
  {
    title: "fringe81-unipos"
    group: "document"
    paths: [
      "/Users/komurasaki/Dropbox/memo/f81"
      "/Users/komurasaki/code/gitlab/unipos/document"
    ]
  }
]
